/* 改变主题色变量 */
$--color-primary: #5f84ff;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--table-header-background-color: #f3f6fb;

@import "~element-ui/packages/theme-chalk/src/index";